h1,
h2,
h3,
h4,
p {
  color: aliceblue;
}

body {
  background-color: #111144
}

footer {
  font-size: smaller;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul.sitebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111144;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.sitebar li {
  float: left;
}

ul.sitebar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 9px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover {
  background-color: #222277;
  color: white;
}