table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #b0b9b9;}